[submodule "deps/account-abstraction"]
	path = deps/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction.git
	branch = releases/v0.6
	fetchRecurseSubmodules = true
	ignore = all
[submodule "deps/contracts"]
	path = deps/contracts
	url = https://github.com/TrueWallet/contracts.git
	branch = main
	fetchRecurseSubmodules = true
	ignore = all
[submodule "deps/js-sdk"]
	path = deps/js-sdk
	url = https://github.com/TrueWallet/js-sdk.git
	branch = main
	fetchRecurseSubmodules = true
	ignore = all
